<% if notice %>
    <%= notice %>
<% end %>
<h1>Medicines Catalog</h1>
<% @medicines.each do |medicine| %>
    <div class="entry" >
      <%= image_tag(medicine.image_url) %>
      <h3><%= medicine.title %></h3>
      <%=sanitize medicine.description %>
      <div class="price_line" >
        <span class="price" ><%= number_to_currency(medicine.price) %></span>
      </div>
    </div>
<% end %>
